/* Custom styles */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

html,
body,
header,
.view {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
.fira-font {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.grey-shadow {
    text-shadow: 4px 4px 4px #4B515D;
}




/* Backgrounds */
.bg-general {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
}

/* Home */
.bg-home {
    background-position: 90% center;
}

@media only screen and (max-width: 767px) {
    .bg-home {
        background-image: url("../img/bg/truck-small.jpg");
    }
}

@media only screen and (min-width: 767px) {
    .bg-home {
        background-image: url("../img/bg/truck-logo.jpg");
    }
}

/* ¿Por qué nosotros? */
@media only screen and (max-width: 767px) {
    .bg-nosotras {
        background-image: url("../img/bg/road-small.jpg");
    }
}

@media only screen and (min-width: 767px) {
    .bg-nosotras {
        background-image: url("../img/bg/road.jpg");
    }
}

/* Pattern */
@media only screen and (max-width: 767px) {
    .bg-pattern {
        background-image: url("../img/patterns/gplaypattern.png");
    }
}

@media only screen and (min-width: 767px) {
    .bg-pattern {
        background-image: url("../img/patterns/gplaypattern2.png");
    }
}

.pattern-animation {
    -webkit-animation: 50s scroll infinite linear;
    -moz-animation: 50s scroll infinite linear;
    -o-animation: 50s scroll infinite linear;
    -ms-animation: 50s scroll infinite linear;
    animation: 50s scroll infinite linear;
    top: 0;
    left: 0;
}

@-webkit-keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@-moz-keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@-o-keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@-ms-keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}




/* Navbar */

.navbar {
    z-index: 1;
}




/* Icon backgrounds */

.blue-background {
    color: #0099CC;
}

.yellow-background {
    color: #FF8800;
}

.green-background {
    color: #007E33;
}

.red-background {
    color: #CC0000;
}




/* Social media backgrounds */
.facebook-background {
    color: #3b5998;
}

.twitter-background {
    color: #00aced;
}

.google-background {
    color: #d34836;
}

.youtube-background {
    color: #cc181e;
}




/* Utilities */
.remove-margin {
    margin-bottom: -2rem;
}

.carousel-description {
    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%);
}

hr.faded {
    border-top: 1px solid #8c8b8b;
}
