/* Custom styles */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

html,
body,
header,
.view {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
.fira-font {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.grey-shadow {
    text-shadow: 4px 4px 4px #4B515D;
}




/* Navbar */

.navbar {
    z-index: 2;
}




/* Backgrounds */
.bg-genera  {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
}


/* Home */
@media only screen and (max-width: 767px) {
    .bg-home {
        background-image: url("../img/bg/home-small.jpg");
    }
}

@media only screen and (min-width: 767px) {
    .bg-home {
        background-image: url("../img/bg/home.jpg");
    }
}

/* iPhone 6, 6S, 7 and 8 */
@media only screen
and (max-device-width: 767)
and (-webkit-min-device-pixel-ratio: 2) {
    .bg-home {
        background-image: url("../img/bg/home-small.jpg");
    }
}




/* ¿Por qué nosotros? */
@media only screen and (max-width: 600px) {
    .bg-nosotras {
        background-image: url("../img/bg/road-small.jpg");
    }
}

@media only screen and (min-width: 600px) {
    .bg-nosotras {
        background-image: url("../img/bg/road.jpg");
    }
}


/* Clientes */
.pattern-clientes {
    background-repeat: repeat;
}

@media only screen and (max-width: 767px) {
    .pattern-clientes {
        background-image: url("../img/patterns/gplaypattern.png");
    }
}

@media only screen and (min-width: 767px) {
    .pattern-clientes {
        background-image: url("../img/patterns/gplaypattern2.png");
    }
}

.pattern-clientes-scroll {
-webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}




/* Social media backgrounds */
.facebook-background {
    color: #3b5998;
}

.twitter-background {
    color: #00aced;
}

.google-background {
    color: #d34836;
}

.youtube-background {
    color: #cc181e;
}




/* Utilities */
.remove-margin {
    margin-bottom: -2rem;
}

.carousel-description {
    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%);
}




/* SVG's */
.carousel-control-next-icon-blue {
    background-image: url("../img/svg/arrow_right.svg");
    width: 36px;
    height: 36px;
    margin-top: -50%;
}

.carousel-control-prev-icon-blue {
    background-image: url("../img/svg/arrow_left.svg");
    width: 36px;
    height: 36px;
    margin-top: -50%;
}




/* Footer pattern */
.pattern-estratosfera {
    background-image: url("../img/patterns/symphony.png");
}

.pattern-footer-scroll {
    -webkit-animation: 50s footer-scroll infinite linear;
    -moz-animation: 50s footer-scroll infinite linear;
    -o-animation: 50s footer-scroll infinite linear;
    -ms-animation: 50s footer-scroll infinite linear;
    animation: 50s footer-scroll infinite linear;
    top: 0;
    left: 0;
}

@-webkit-keyframes footer-scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@-moz-keyframes footer-scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@-o-keyframes footer-scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@-ms-keyframes footer-scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

@keyframes footer-scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}
